<h1>Lists</h1>


<% @lists.each do |list| %>
  <div class="card-product">
    <img src="<%= cl_image_path list.photo.key, height: 300, crop: :fill %>"/>
    <div class="card-product-infos">
      <%= link_to list.name, list_path(list)  %>
      </br>
      <%= link_to "Delete List", list_path(list), method: :delete  %>

 </div>
</div>
<% end %>
</br>


<%= link_to "Create a new list", new_list_path  %>


