<h1>Lists</h1>
<p>
  <% @lists.each do |list| %>
  <%= link_to list.name, list_path(list)  %>
  </br>
</p>
  <% end %>
</p>
<%= cl_image_tag("https://res.cloudinary.com/sassia93/image/upload/v1622812141/1920px-Drama-icon.svg_kyejub.png",
      width: 400, height: 300, crop: :fill) %>

<%= link_to "Create a new list", new_list_path  %>
